@use '../base/variables' as *;

.box-outline {
  max-width: 920px;
  width: 100%;
  padding: 14px 40px;
  border: 2px solid $primary-orange;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  @media (width <= 768px) {
    padding: 14px 20px;
  }

  + .box-outline {
    margin-top: 16px;
  }

  &__text {
    font-weight: 600;
  }
}

.box-banner {
  max-width: 920px;
  width: 100%;
  padding: 40px 20px;
  background: $light-cream;
  border-radius: 20px;
  margin: 0 auto;
  text-align: center;

  @media (width <= 768px) {
    padding: 26px 14px;
  }

  &--img {
    position: relative;

    @media (width <= 768px) {
      padding: 20px;
    }

    .box-banner__text-inner {
      position: relative;
      max-width: 624px;
      margin: 0 auto;
      background: $white;
      border-radius: 20px;
      padding: 16px;
      z-index: 1;
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }

  &__tel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: 3.2rem;
    font-weight: 600;
    color: $dark-green;
  }

  &__tel-icon {
    width: 30px;
  }

  &__title {
    position: relative;
    display: inline-block;
    font-size: 2.4rem;
    font-weight: 700;
    color: $dark-green;
    padding: 0 82px;
    margin-left: auto;
    margin-right: auto;

    + * {
      margin-top: 16px;
    }

    @media (width <= 768px) {
      font-size: 2rem;
      padding: 0 70px;
    }

    &::before {
      content: '';
      position: absolute;
      top: -4px;
      left: 0;
      width: 62px;
      height: 40px;
      background: url("/assets/img/icon/leaf.svg") no-repeat center;
      background-size: contain;
    }

    &::after {
      content: '';
      position: absolute;
      top: -4px;
      right: 0;
      width: 62px;
      height: 40px;
      background: url("/assets/img/icon/leaf.svg") no-repeat center;
      background-size: contain;
      transform: rotateY(180deg);
    }
  }

  &__text {
    display: block;
    font-size: 1.7rem;
    font-weight: 400;
    color: $dark-green;
  }

  .button-block {
    margin-top: 16px;
  }
}

.box-general {
  background: $light-cream;
  padding: 16px;
  border-radius: 10px;

  &--center {
    text-align: center;
  }

  &--wide {
    padding: 40px;

    @media (width <= 768px) {
      padding: 20px;
    }
  }

  &--green {
    background: $light-green;

    .box-white__title {
      color: $dark-green;
    }
  }

  &--orange {
    background: $pale-orange;

    .box-white__title {
      color: $primary-orange;
    }
  }

  &__icon {
    max-width: 257px;
    width: 100%;

    @media (width <= 768px) {
      max-width: 200px;
    }
  }

  &__hdg {
    font-size: 1.8rem;
    font-weight: 700;
    color: $dark-green;

    @media (width <= 768px) {
      font-size: 2.2rem;
    }
  }

  + .box-general {
    margin-top: 24px;
  }
}

.box-general-lyt {
  display: flex;
  justify-content: center;
  flex-flow: row-reverse wrap;
  gap: 30px 114px;
  padding: 14px;
  background: $light-cream;
  border-radius: 20px;

  &__hdg {
    display: block;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 8px;
  }

  &__img-inner {
    width: 368px;
    border-radius: 20px;
    overflow: hidden;
  }

  .button-block {
    margin-top: 16px;
  }
}

.box-white {
  background: $white;
  padding: 24px 18px;
  border-radius: 20px;
  max-width: 920px;
  margin: 0 auto;

  @media (width <= 768px) {
    padding: 16px 20px;
  }

  &__title {
    font-size: 2.2rem;
    font-weight: 600;

    @media (width <= 768px) {
      font-size: 1.6rem;
    }
  }

  + .box-white {
    margin-top: 32px;

    @media (width <= 768px) {
      margin-top: 24px;
    }
  }
}

.box-simple {
  max-width: 472px;
  width: 100%;
  padding: 8px 16px;
  margin: 24px auto 0;
  border: solid 1px $light-gray;

  &__text {
    font-size: 1.7rem;
    font-weight: 400;
  }
}
