@use '../base/variables' as *;

.hdg-leaf {
  &__block {
    text-align: center;

    + .list-toc {
      margin-top: 56px;

      @media (width <= 768px) {
        margin-top: 40px;
      }
    }

    + .top-lead {
      margin-top: 56px;

      @media (width <= 768px) {
        margin-top: 40px;
      }
    }

    &--small {
      .hdg-leaf__text {
        position: relative;
        display: inline-block;
        font-size: 2.4rem;
        font-weight: 700;
        color: $black;
        padding: 0 82px;
        margin-left: auto;
        margin-right: auto;

        + * {
          margin-top: 16px;
        }

        @media (width <= 768px) {
          font-size: 2rem;
          padding: 0 70px;
        }

        &::before {
          content: '';
          position: absolute;
          top: -4px;
          left: 0;
          width: 62px;
          height: 40px;
          background: url("/assets/img/icon/leaf.svg") no-repeat center;
          background-size: contain;
        }

        &::after {
          content: '';
          position: absolute;
          top: -4px;
          right: 0;
          width: 62px;
          height: 40px;
          background: url("/assets/img/icon/leaf.svg") no-repeat center;
          background-size: contain;
          transform: rotateY(180deg);
        }
      }
    }
  }

  &__text {
    position: relative;
    display: inline-block;
    font-size: 4rem;
    font-weight: 700;
    color: $dark-green;
    padding: 0 124px;
    line-height: 1.4;

    @media (width <= 768px) {
      font-size: 3rem;
      padding: 0 90px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 112px;
      height: 57px;
      background: url("/assets/img/icon/leaf.svg") no-repeat center;
      background-size: contain;

      @media (width <= 768px) {
        width: 80px;
        height: 41px;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 112px;
      height: 57px;
      background: url("/assets/img/icon/leaf.svg") no-repeat center;
      background-size: contain;
      transform: rotateY(180deg);

      @media (width <= 768px) {
        width: 80px;
        height: 41px;
      }
    }
  }
}

.hdg-line {
  position: relative;
  font-size: 2.4rem;
  font-weight: 500;
  padding: 0 0 10px;
  border-bottom: solid 2px $light-orange;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% / 3);
    height: 8px;
    background: $light-orange;

    @media (width <= 768px) {
      height: 5px;
    }
  }
}

.hdg-simple {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.7;
  text-align: center;

    +.list-toc {
    margin-top: 42px;

    @media (width <= 768px) {
      margin-top: 30px;
    }
  }
}

.hdg-small {
  font-size: 2.4rem;
  font-weight: 700;
  text-align: center;

  @media (width <= 768px) {
    font-size: 1.8rem;
  }

  + p {
    margin-top: 40px;
  }

  + .box-outline {
    margin-top: 4px;
  }
}

.hdg-main {
  &__text {
    font-size: 3.6rem;
    font-weight: 700;

    @media (width <= 768px) {
      font-size: 1.8rem;
    }
  }

  &__sub-text {
    display: block;
    margin-top: 8px;
    font-size: 2.2rem;

    @media (width <= 768px) {
      font-size: 1.6rem;
    }
  }

  &__small-text {
    display: block;
    font-size: 1.8rem;
    line-height: 1;
    font-weight: 400;
    margin-top: 8px;
    text-align: center;

    @media (width <= 768px) {
      font-size: 1.5rem;
    }
  }

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url("/assets/img/hdg/hdg-bg.jpg") no-repeat center center/cover;
    border-radius: 20px;
    padding: 120px 20px;

    &--recruit {
      background: url("/assets/img/hdg/hdg-bg-recruit.jpg") no-repeat center center/cover;
    }

    &--care {
      background: url("/assets/img/hdg/hdg-bg-care.jpg") no-repeat center center/cover;
    }

    &--welfare {
      background: url("/assets/img/hdg/hdg-bg-welfare.jpg") no-repeat center center/cover;
    }

    &--housing {
      background: url("/assets/img/hdg/hdg-bg-housing.jpg") no-repeat center center/cover;
    }

    @media (width <= 768px) {
      padding: clamp(40px, calc(40px + 20 * (100vw - 375px) / (768 - 375)), 60px) 10px;
    }
  }
}

.hdg-vision {
  &--type-a {
    max-width: 529px;
  }

  &--type-b {
    max-width: 768px;
  }
}

.hdg-interview {
  @media (width <= 768px) {
    padding: 0 20px;
  }

  &__inner {
    display: flex;
    width: calc(100% + 80px);
    margin-left: -40px;
    background: url("/assets/img/hdg/hdg-bg-line.png") no-repeat center center / cover;
    padding: 0 40px;

    @media (width <= 1024px) {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &__img-inner {
    max-width: 728px;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
  }

  &__text-inner {
    max-width: 498px;
    width: 100%;
    text-align: center;

    @media (width <= 768px) {
      margin-top: 16px;
    }
  }

  &__lead {
    position: relative;
    text-align: center;

    @media (width >= 1025px) {
      padding-top: 56px;
    }
  }

  &__lead-text {
    font-size: 3.2rem;
    font-weight: 700;
    background: $light-yellow;
    line-height: 1.8;
    box-decoration-break: clone;

    @media (width <= 768px) {
      font-size: 2.2rem;
      line-height: 1.7;
    }

    @media (width >= 1025px) {
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 44%;
        width: 62px;
        height: 40px;
        background: url("/assets/img/icon/leaf.svg") no-repeat center center / cover;
        transform: rotateY(180deg);
      }
    }
  }

  &__small-text {
    display: block;
    margin-top: 16px;
    font-size: 1.8rem;

    @media (width <= 768px) {
      font-size: 1.6rem;
    }

    + .hdg-interview__small-text {
      font-size: 1.4rem;
      margin-top: 8px;

      @media (width <= 768px) {
      font-size: 1.2rem;
    }
    }
  }
}
