// color
$primary-gray: #666;
$light-gray: #b3b3b3;
$cream-orange: #ffb55d;
$light-orange: #ff8b00;
$primary-orange: #eb6a00;
$pale-orange: #FFF0D6;
$darker-green: #00600E;
$dark-green: #005230;
$primary-green: #58A031;
$medium-green: #BBE083;
$light-green: #E6F3CF;
$light-cream: #fffbed;
$primary-cream: #faf8f2;
$light-yellow: #fff0ac;
$black: #333;
$white: #fff;

// unique
$footer-bg: #004a2b;

// btn
$btn-pale-orange: #ffd771;
$btn-orange: #ff9e37;
$btn-pale-blue: #b9f2ff;
$btn-pale-green: #c3f084;

// border-radius
$border-radius-full: 1000px;

// transition
$transition: .3s ease;
